dtd/dblots.dtd

<!ELEMENT lots (lot)*>
<!ELEMENT lot (timeCreated|type|bundesland|isPublished|parkraumAusserBetriebText|parkraumAusserBetrieb_en|parkraumBahnhofName|parkraumBahnhofNummer|parkraumBemerkung|parkraumBemerkung_en|parkraumBetreiber|parkraumDisplayName|parkraumEntfernung|parkraumGeoLatitude|parkraumGeoLongitude|parkraumHausnummer|parkraumId|parkraumIsAusserBetrieb|parkraumIsDbBahnPark|parkraumIsOpenData|parkraumIsParktagesproduktDbFern|parkraumKennung|parkraumName|parkraumOeffnungszeiten|parkraumOeffnungszeiten_en|parkraumParkTypName|parkraumParkart|parkraumReservierung|parkraumSlogan|parkraumSlogan_en|parkraumStellplaetze|parkraumTechnik|parkraumTechnik_en|parkraumURL|parkraumZufahrt|parkraumZufahrt_en|tarif1MonatAutomat|tarif1MonatDauerparken|tarif1MonatDauerparkenFesterStellplatz|tarif1Std|tarif1Tag|tarif1TagRabattDB|tarif1Woche|tarif1WocheRabattDB|tarif20Min|tarif30Min|tarifBemerkung|tarifBemerkung_en|tarifFreiparkzeit|tarifFreiparkzeit_en|tarifMonatIsDauerparken|tarifMonatIsParkAndRide|tarifMonatIsParkscheinautomat|tarifParkdauer|tarifParkdauer_en|tarifRabattDBIsBahnCard|tarifRabattDBIsParkAndRail|tarifRabattDBIsbahncomfort|tarifSondertarif|tarifSondertarif_en|tarifWieRabattDB|tarifWieRabattDB_en|tarifWoVorverkaufDB|tarifWoVorverkaufDB_en|zahlungKundenkarten|zahlungMedien|zahlungMedien_en|zahlungMobil|validData|timestamp|timeSegment|category|text)*>
<!ELEMENT timeCreated (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT bundesland (#PCDATA)>
<!ELEMENT isPublished (#PCDATA)>
<!ELEMENT parkraumAusserBetriebText (#PCDATA)>
<!ELEMENT parkraumAusserBetrieb_en (#PCDATA)>
<!ELEMENT parkraumBahnhofName (#PCDATA)>
<!ELEMENT parkraumBahnhofNummer (#PCDATA)>
<!ELEMENT parkraumBemerkung (#PCDATA)>
<!ELEMENT parkraumBemerkung_en (#PCDATA)>
<!ELEMENT parkraumBetreiber (#PCDATA)>
<!ELEMENT parkraumDisplayName (#PCDATA)>
<!ELEMENT parkraumEntfernung (#PCDATA)>
<!ELEMENT parkraumGeoLatitude (#PCDATA)>
<!ELEMENT parkraumGeoLongitude (#PCDATA)>
<!ELEMENT parkraumHausnummer (#PCDATA)>
<!ELEMENT parkraumId (#PCDATA)>
<!ELEMENT parkraumIsAusserBetrieb (#PCDATA)>
<!ELEMENT parkraumIsDbBahnPark (#PCDATA)>
<!ELEMENT parkraumIsOpenData (#PCDATA)>
<!ELEMENT parkraumIsParktagesproduktDbFern (#PCDATA)>
<!ELEMENT parkraumKennung (#PCDATA)>
<!ELEMENT parkraumName (#PCDATA)>
<!ELEMENT parkraumOeffnungszeiten (#PCDATA)>
<!ELEMENT parkraumOeffnungszeiten_en (#PCDATA)>
<!ELEMENT parkraumParkTypName (#PCDATA)>
<!ELEMENT parkraumParkart (#PCDATA)>
<!ELEMENT parkraumReservierung (#PCDATA)>
<!ELEMENT parkraumSlogan (#PCDATA)>
<!ELEMENT parkraumSlogan_en (#PCDATA)>
<!ELEMENT parkraumStellplaetze (#PCDATA)>
<!ELEMENT parkraumTechnik (#PCDATA)>
<!ELEMENT parkraumTechnik_en (#PCDATA)>
<!ELEMENT parkraumURL (#PCDATA)>
<!ELEMENT parkraumZufahrt (#PCDATA)>
<!ELEMENT parkraumZufahrt_en (#PCDATA)>
<!ELEMENT tarif1MonatAutomat (#PCDATA)>
<!ELEMENT tarif1MonatDauerparken (#PCDATA)>
<!ELEMENT tarif1MonatDauerparkenFesterStellplatz (#PCDATA)>
<!ELEMENT tarif1Std (#PCDATA)>
<!ELEMENT tarif1Tag (#PCDATA)>
<!ELEMENT tarif1TagRabattDB (#PCDATA)>
<!ELEMENT tarif1Woche (#PCDATA)>
<!ELEMENT tarif1WocheRabattDB (#PCDATA)>
<!ELEMENT tarif20Min (#PCDATA)>
<!ELEMENT tarif30Min (#PCDATA)>
<!ELEMENT tarifBemerkung (#PCDATA)>
<!ELEMENT tarifBemerkung_en (#PCDATA)>
<!ELEMENT tarifFreiparkzeit (#PCDATA)>
<!ELEMENT tarifFreiparkzeit_en (#PCDATA)>
<!ELEMENT tarifMonatIsDauerparken (#PCDATA)>
<!ELEMENT tarifMonatIsParkAndRide (#PCDATA)>
<!ELEMENT tarifMonatIsParkscheinautomat (#PCDATA)>
<!ELEMENT tarifParkdauer (#PCDATA)>
<!ELEMENT tarifParkdauer_en (#PCDATA)>
<!ELEMENT tarifRabattDBIsBahnCard (#PCDATA)>
<!ELEMENT tarifRabattDBIsParkAndRail (#PCDATA)>
<!ELEMENT tarifRabattDBIsbahncomfort (#PCDATA)>
<!ELEMENT tarifSondertarif (#PCDATA)>
<!ELEMENT tarifSondertarif_en (#PCDATA)>
<!ELEMENT tarifWieRabattDB (#PCDATA)>
<!ELEMENT tarifWieRabattDB_en (#PCDATA)>
<!ELEMENT tarifWoVorverkaufDB (#PCDATA)>
<!ELEMENT tarifWoVorverkaufDB_en (#PCDATA)>
<!ELEMENT zahlungKundenkarten (#PCDATA)>
<!ELEMENT zahlungMedien (#PCDATA)>
<!ELEMENT zahlungMedien_en (#PCDATA)>
<!ELEMENT zahlungMobil (#PCDATA)>
<!ELEMENT validData (#PCDATA)>
<!ELEMENT timestamp (#PCDATA)>
<!ELEMENT timeSegment (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT text (#PCDATA)>